<html>
  <head>
    <title>Research Guide Online</title>
  </head>
  <body>
    <div class="navvv">
      <div class="info">
        <div></div>
        <a href="#" class="home hom">Home</a>
        <div class="contain">
          <a href="#" class="home">Service</a>
          <div class="ll">
            <div class="init">Article preparation</div>
            <div class="init">Statistical Consultation</div>
            <div class="init">Proposal preparation</div>
            <div class="init">Article/Editorial Submission</div>
            <div class="init">
              Systematic review <br />
              and meta-analysis
            </div>
            <div class="init">
              Registering systematic <br />
              review-prospero
            </div>
            <div class="init">
              Research Project <br />
              Preparation
            </div>
            <div class="init">Grant Writing</div>
            <div class="init">Short Courses</div>
            <div class="init">Online Training</div>
          </div>
        </div>
        <a href="#" class="home">About</a>
        <a href="#" class="home">Contact Us</a>
      </div>
    </div>
    <div class="container" style="display: flex; flex-direction: column">
      <div
        class="blockone"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100vh;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div class="h1" style="font-size: 4.5rem; font-weight: 900">
            Research
            <br />
            <strong style="color: aqua">Guide Online</strong>
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We have unique expertise in preparing proposals for<br />
            manuscripts and systematic reviews for faculty <br />and researchers
            undertaking clinical<br />
            and non-clinical research.
          </div>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon" style="width: 400px; height: 400px">
            <img
              class="first-image"
              style="
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              "
              src="../assets/logo1.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Proposal <br />
            Preparation
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We have unique expertise in preparing proposals <br />
            for manuscripts and other research reports for<br />
            additional information, <br />send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/OIP.jpeg"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Article
            <br />
            Preparation
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We have unique expertise in preparing and publishing articles for
            students… <br />
            for additional information, <br />send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon1png.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Statistical <br />
            Consultations
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We offer services to support students and faculty <br />
            undertaking clinical and non-clinical research. for<br />
            additional information, <br />send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon2.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Research <br />
            Project <br />
            Preparation
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We assist in writing research reports for faculty and <br />
            researchers who are undertaking clinical <br />
            and non-clinical research. for additional information, <br />send us
            your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon9.jpeg"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Grant <br />
            Writing
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We offer grant writing services for every step of your <br />
            project and research… for manuscripts and other research <br />
            reports for additional information, <br />send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon5.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Article / <br />
            Editorial <br />
            Submission
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We offer services for every step of a project, <br />
            regardless of how large or small. for additional information,
            <br />send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon6.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Online <br />
            Training
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We Provide Online training to wide range of <br />clients in
            academic and non-academic institutions. <br />
            for additional information, send us your queries at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon7.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Short <br />
            Courses
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We welcome invitations to educate a wide range of clients <br />
            in academic and non-academic institutions. <br />
            for additional information, send us your queries <br />
            at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon8.png"
            />
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="blockone scroll"
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 700px;
          text-align: left;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="disc animat-disc"
          style="
            padding: 0px 20px 0px 0px;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding-left: 280px;
          "
        >
          <div
            class="h1"
            style="font-size: 4.5rem; font-weight: bold; text-align: left"
          >
            Registering <br />
            Systematic <br />
            Review-Prospero
          </div>
          <div class="message" style="font-size: 25px; margin-top: 30px">
            We offer services for every step <br />
            of a project, regardless of how large or small. <br />
            for additional information, send us your queries <br />
            at
            <a href="#">researchguide@protonmail.com</a>
          </div>
          <button
            style="
              border: none;
              padding: 15px 40px;
              margin-top: 20px;
              border-radius: 8px;
              background-color: #26b9db;
            "
          >
            <div style="color: white; font-size: 20px">Learn more</div>
          </button>
        </div>

        <div class="iconcont" style="width: 40%">
          <div class="icon animat-icon" style="width: 400px; height: 400px">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              src="../assets/icon7.png"
            />
          </div>
        </div>
      </div>

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->
      <div
        class="footer"
        style="
          height: 400px;
          background-color: #176091;
          position: relative;
          justify-content: center;
          align-items: center;
        "
      >
        <div
          class="about"
          style="
            position: absolute;
            width: 70%;
            margin: 0px auto;
            margin-left: 260px;
            padding: 40px;
            text-align: center;
            text-align: center;
            font-size: 20px;
          "
        >
          <H4 style="padding-bottom: 20px">ABOUT</H4>

          Research Guide LLC is the primary affiliate of the
          <a href="#">Journal of Health Informatics in Developing Countries</a>
          . <br />We are a group of of highly skilled professionals <br />
          who have helped individuals in developing their research questions,
          <br />
          hypotheses, survey design, data analysis plan, power analysis and
          sample size justification,
          <br />
          and performing the statistical analysis of their data.
        </div>

        <div
          class="contact"
          style="
            position: absolute;
            bottom: 30px;
            width: 70%;
            margin: 0px auto;
            margin-left: 260px;
            padding: 40px;
            display: flex;
            flex-direction: column;
          "
        >
          <div style="text-align: center; font-size: 20px">
            <H4 style="padding-bottom: 20px">CONTACT US</H4>

            Reach out to us with your project details and we will get back to
            you at the earliest.
            <br />
            <br />
            Send your queries now at
            <a href="#">researchguide@protonmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
